head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible'
       content='IE=edge,chrome=1')
  meta(name='viewport'
       content='width=device-width, initial-scale=1')
  title Market | Elegant Themes
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800'
       rel='stylesheet'
       type='text/css')
  link(href='http://cdn.elegantthemes.com/favicon.ico'
       rel='shortcut icon'
       type='image/x-icon')

template(name='main')
  //- Header
  +header

  //- Content
  +yield

  //- Footer
  +footer