template(name='nav')
  nav(class='nav'): ul(flex=''
                       flex-direction='row'
                       flex-wrap='wrap'
                       align-items='center')
    each items
      if isCart
        li(class='nav-button cart'): a(href=pathFor(name))
          i(class='icon_cart')
      else if isRegister
        li(class='nav-button register'): a(href=pathFor(name)) Create an Account
      else if isLogin
        li(class='nav-button login'): a(href=pathFor(name))=name
      else
        li: a(class=isActive
              href=pathFor(name))=name