template(name='productsPage')
  .container
    .row
      .col-md-12
        .page-header
          h1
            =product.title
            small=product.price
    .row
      .col-md-6.col-sm-12
        a.thumbnail(href='#')
          img(src=product.thumbnail)
      .col-md-6.col-sm-12
        .panel.panel-default
          .panel-heading Product Info
          .panel-body
            h4
              =product.title
              span=product.price
            p=product.description
            a.btn.btn-primary(href='#') Purchase

        br
        .row
          .col-md-12
            h4 Comments
            each comments
              .media
                .media-left
                  img(src='http://placehold.it/48/ED6451/fff')
                .media-body
                  h4.media-heading
                    a(href='mailto:#{email}')=name
                  =comment

        br
        br
        .row
          .col-md-12
            h4 Leave a Comment
          form.comments
            .col-md-6
              .form-group
                label Full name
                input.form-control(type='name'
                                   name='name'
                                   placeholder='Name'
                                   required='')
            .col-md-6
              .form-group
                label Email Address
                input.form-control(type='email'
                                   name='email'
                                   placeholder='Email'
                                   required='')
            .col-md-12
              .form-group
                label
                textarea.form-control(type='text'
                                      name='comment'
                                      placeholder='Comment..'
                                      required='')
              button.btn.btn-primary(type='submit') Submit

