template(name='header')
  header(class='header')
    div(class='container')
      div(class='row')
        div(class='col col-12'
            flex=''
            align-items='center'
            justify-content='space-between')
          a(class='logo'
            href='{{pathFor "Home"}}')
            img(src='img/logo.svg'
                title='ElegantThemes')
          +headerNav
    +headerCategories

template(name='headerNav')
  nav(class='header-nav'): ul(flex=''
                              flex-direction='row'
                              flex-wrap='wrap'
                              align-items='center')
    each items
      unless isHome
        if isElegantThemes
          li: a(class='brand'
                href=path)=name
        else if isCart
          li(class='cart'): a(class='btn'
                              href=pathFor(name))
            i(class='icon_cart')
            span(class='badge') 1
        else if isRegister
          li(class='register'): a(class='btn'
                                  href=pathFor(name)) Create an Account
        else if isLogin
          li(class='login'): a(class='btn'
                               href=pathFor(name))=name
        else if isLogout
          li(class='logout'): a(class='btn'
                                href=pathFor(name))=name
        else
          li: a(class=isActive
                href=pathFor(name))=name

template(name='headerCategories')
  div(class='header-categories')
    div(class='container')
      div(class='row')
        div(class='col col-12')
          ul(flex=''
             flex-direction='row'
             flex-wrap='wrap'
             align-items='center')
            each categories
              if isCategory
                unless hasSubMenu
                  li: a(href=pathFor(name))=name
                else
                  li(class='has-sub-menu')
                    a(href=pathFor(name))=name
                    ul(class='sub-menu')
                      each subCategories
                        unless isCategory
                          li: a(href='#')=name